<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">
          <h1 class="h1"> Aspromonte </h1>

          <p>En 1951, Africo es un pueblo el valle de Aspromonte sin carretera alguna; cuando una mujer muere dando a
            luz
            por falta de acceso para el doctor, el pueblo se vuelca en construir un acceso, aunque...
          </p>

          <div class="videodeyoutube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rHzSe6EDzHQ"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <p>
            Los ejercicios de memoria y nostalgia que asocian a la infancia con algún pueblo o ciudad al sur de Italia
            se convirtieron en un género muy transitado por el cine de ese país. Tanto que no es fácil encontrar trabajos
            como los de Giuseppe Tornatore (Cinema Paradiso, Malena, Baaria) o la más reciente La mano de Dios (Paolo
            Sorrentino, 2021) por fuera de lo producido en la península.
          </p>

          <img class="img44" src="http://mmpc1910.alwaysdata.net/aspromonte1.jpg">

          <p>
            Lo más parecido en el cine anglosajón son los relatos autobiográficos que últimamente vienen filmando varios
            cineastas. Aunque estos rara vez alcanzan los niveles de melancolía recargada, exacerbación extrema de la
            ternura o el sentido trágico que suele desbordar a las producciones italianas de este tipo, a las que ahora
            se
            debe sumar Aspromonte, la tierra de los últimos, de Mimmo Calopresti.
          </p>

          <img class="img44" src="http://mmpc1910.alwaysdata.net/aspromonte2.jpg">

          <p>
            Ambientada en una aldea de Sicilia durante la posguerra, la representación realista de Calopresti expresa
            una mirada de aquel pasado desde una cosmovisión comunista.
          </p>

          <img class="img44" src="http://mmpc1910.alwaysdata.net/aspromonte3.jpg">

          <p>
            Duración: 89 minutos
          </p>

      </main>
      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>

  </body>

  </html>