<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">

          <h1 class="h1"> "Blondi"</h1>

          <p>Es una película que, en tono de comedia, abre imperceptiblemente temas enormes y trascendentes. </p>

          <div class="videodeyoutube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/294xzotg9fI"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <p>Mientras relata la historia particular y cotidiana del vínculo de una madre con su hijo, nos va hablando de
            las distintas formas de maternidad y crianza, la juventud y la madurez, las mujeres y el feminismo, las
            libertades individuales y las distintas formas de amor filial. </p>

          <img class="img44" src="http://emilianogieco.alwaysdata.net/Blondi2.jpg">

          <p>BLONDI es una película sobre el amor y la libertad. Dolores Fonzi debuta como directora con una película de
            alto gramaje emotivo, propone una aproximación frontal y sin malicia a los problemas de una familia con
            plena consciencia de sus limitaciones.</p>

          <img class="img44" src="http://emilianogieco.alwaysdata.net/Blondi1.jpg">

          <p> Se estrenó el 01 de junio 2023. Apta para mayores de 13 años. Actores: Dolores Fonzi, Carla Peterson. </p>

          <img class="img44" src="http://emilianogieco.alwaysdata.net/Blondi3.jpg">

      </main>

      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>
  </body>

  </html>