<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">

          <h1 class="h1"> “Boogeyman” Tu miedo es real </h1>

          <p> Sadie Harper, una estudiante del colegio secundario y su hermana pequeña, Sawyer, están conmocionadas por
            la
            reciente muerte de su madre y no reciben mucho apoyo de su padre, Will, un terapeuta que está lidiando con
            su
            propio dolor. </p>

          <div class="videodeyoutube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4z2oQQ5q2II"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <p>Cuando un paciente desesperado se presenta inesperadamente en su casa en busca de ayuda, deja tras de sí
            una
            aterradora entidad sobrenatural que se aprovecha de las familias y se alimenta del sufrimiento de sus
            víctimas.
          </p>

          <img class="img44" src="http://emilianogieco.alwaysdata.net/boogeyman3.jpg">

          <p> Se estrenó en cines el 02 de junio y está basada en uno de sus cuentos cortos más escalofriantes.</p>

          <img class="img44" src="http://emilianogieco.alwaysdata.net/boogeyman2.jpg">

          <p>Apta para mayores de 13 años. Actor: Chris Messina, David Dastmalchian. </p>

          <img class="img44" src="http://emilianogieco.alwaysdata.net/boogeyman1.jpg">

        </div>
      </main>

      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>
  </body>

  </html>