<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">

          <h1 class="h1"> “Elementos”</h1>

          <p> Sigue a Ember y Wade, en una ciudad donde los residentes del fuego, el agua, la tierra y el aire viven
            juntos.</p>

          <div class="videodeyoutube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MgzHRIeaOL8"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <p>Las comedias románticas buenas son casi una rareza hoy en día (aunque de a poco se está revirtiendo esa
            tendencia), pero lo que aún es más raro es una comedia romántica animada.

            Y eso es Elementos, que además tiene el sello Pixar, con todo lo que ello significa.

          </p>

          <img class="img44" src="https://mmpc1910.alwaysdata.net/elementos1.jpg">

          <p>
            Es una historia de autosuperación, de seguir los sueños, de enfrentarse al mandato familiar y sufrir por
            ello.
            También habla de las tradiciones culturales, sobre la inmigración y el racismo.

            Clarísimas alegorías hacia la comunidad islámica en USA en las últimas dos décadas.

            En cuanto a la historia es bastante simple y previsible. Sigue la nueva fórmula de no presentar villanos ni
            antagonistas sino "misiones" o resolución de algún problema.

            Los personajes principales están muy bien y tienen potencial de trascender un poco entre el público, sobre
            todo Ember. No así el resto del reparto.

          </p>

          <img class="img44" src="https://mmpc1910.alwaysdata.net/elementos2.jpg">

          <p>
            Obviamente la calidad visual es abrumadora, pero Pixar ya nos tiene acostumbrados a eso.

            En definitiva, Elementos no resaltará como lo mejor del estudio porque no es ni lo suficientemente
            disruptiva
            desde el planteo ni la historia ni tampoco desde sus personajes. Pero es una buena película, que posee
            momentos muy altos.

            Ah, y al principio proyectan el corto pseudo secuela de Up… van a llorar. Están avisados.

          </p>

          <img class="img44" src="https://mmpc1910.alwaysdata.net/elementos3.jpg">

          <p>
            Salas de cine: Cinemark Hoyts,
            Showcase Cinemas,
            Cinépolis,
            Cinemacenter,
            Cinema La Plata,
            Multiplex,
            Atlas Cines,
            CPM,
            Sud Cinemas,
            Cinema Concept.


          </p>
      </main>

      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>
  </body>

  </html>