<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">

          <h1 class="h1"> “Maremoto” Preparate para el mayor desastre </h1>

          <p> Una plataforma petrolífera se hunde dramáticamente en la costa noruega, y los investigadores intentan
            averiguar qué ha pasado cuando se dan cuenta de que esto es solo el comienzo de algo aún más grave. </p>

          <div class="videodeyoutube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h5WNzr0xbFQ"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>

            <p> Este accidente es solo el comienzo de una serie de eventos devastadores en medio del mar y lejos de
              cualquier apoyo frente a la catástrofe.</p>

            <img class="img44" src="http://emilianogieco.alwaysdata.net/maremoto3.jpg">

            <p> Este accidente es solo el comienzo de una serie de eventos devastadores en medio del mar y lejos de
              cualquier apoyo frente a la catástrofe. Miles de trabajadores quedarán atrapados, esperando ser rescatados
              a tiempo, antes de que sea demasiado tarde, por cuenta del peor maremoto de todos los tiempos. </p>

            <img class="img44" src="http://emilianogieco.alwaysdata.net/maremoto2.jpg">

            <p> Se estrenó el 08 de junio de 2023. Apta mayores de 13 años. ACTORES: Kristine Kujath Thorp, Henrik
              Bjelland, Rolf Kristian Larsen. </p>

            <img class="img44" src="http://emilianogieco.alwaysdata.net/maremoto1.jpg">

          </div>
      </main>

      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>

  </body>

  </html>