<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">
          <h1 class="h1"> Misantropo </h1>

          <p> Baltimore, la noche de año nuevo. </p>

          <div class="videodeyoutube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qMMZRhUy85U"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <p> Un feroz ataque producido por un único hombre deja un saldo de 29 muertos y ni una sola pista. Eleanor
            Falco (Shailene Woodley), una retraída pero talentosa mujer policía de bajo rango, es reclutada por el
            agente especial del FBI Geoffrey Lammark (Ben Mendelsohn) para integrar el equipo a cargo de la
            identificación y captura del homicida.
          </p>

          <img class="img44" src="http://mmpc1910.alwaysdata.net/misantro.webp">

          <p> MISÁNTROPO Del griego, mi¯sos 'odio' y a¯nthropos 'hombre'. Que siente rechazo o desconfianza por la
            especie humana. </p>

          <img class="img44" src="http://mmpc1910.alwaysdata.net/misantropo.webp">

          <p> La aversión puede ser leve, manifestándose en actos de crítica social y aislamiento, o severa, con
            tendencia a la autodestrucción y a la destrucción de los demás. En casos extremos, la misantropía ha
            conducido a asesinatos en masa. </p>

          <img class="img44" src="http://mmpc1910.alwaysdata.net/misantropo2.jpg">

          <p> Clasificación: Apta para todo público </p>
      </main>

      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>

  </body>

  </html>