<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

    <h1 class="h1">
        “Betty la fea”
    </h1>

<p>“Yo soy Betty, la fea” es un clásico de la televisión que ha conquistado el corazón de varias generaciones. La telenovela colombiana creada por Fernando Gaitán se convirtió en un fenómeno internacional al ser trasmitida en más de 180 países, doblada a 25 idiomas y adaptada en más de 20 ocasiones. Incluso, fue premiada con el Guinness Records en 2010.
    A más de dos décadas de su estreno, la telenovela colombiana se ha mantenido vigente con el paso del tiempo y sigue gozando de gran popularidad entre el público. Cada retrasmisión de “Yo soy Betty, la fea” es todo un éxito y ahora se encuentra disponible en la plataforma de streaming Netflix, donde se ubica en el top 10 de los contenidos más vistos de la plataforma en Latinoamérica.

Aunque hubo muchas historias de amor dentro de “Yo soy Betty, la fea”, sus actores y actrices tienen relaciones muy diferentes fuera de la pantalla. Aquí te contamos quiénes son las parejas reales de los protagonistas de la telenovela colombiana.
</p>




    
<div class="videodeyoutube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xTO-rrvZ9Dc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<p>
    Ana María Orozco, protagonista de “Yo soy Betty, la fea”, celebró recientemente su cumpleaños número 48, soltera. Se sabe que la actriz colombiana ha estado casada en dos ocasiones, primero con Julián Arango entre 1999 y 2000, y después con el argentino Martín Quiaglia.

La intérprete del melodrama que dio la vuelta al mundo siempre ha sido muy reservada sobre su vida amorosa y deja muy pocas pistas sobre el asunto a sus seguidores en Instagram. Después de su segundo matrimonio, Ana María tuvo un breve noviazgo con el actor argentino Maxi Ghione, que terminó en 2015.
</p>
 <!-- FOOTER -->
 <%- include("../../partials/footer.ejs") %>
</body>

</html>
