<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

    <h1 class="h1">
        “Madre de alquiler”
    </h1>

<p>“Madre de alquiler“ es una de las novedades de junio del catálogo de Netflix. Disponible desde el miércoles 14, la serie mexicana expone un terrible caso de vientre de alquiler, un tema que está siendo muy debatido en la actualidad, sobre todo cuando figuras como las hermanas Kardashian y algunas otras celebridades recurren a este tipo de gestación para tener a sus hijos. ¿Quiénes son los protagonistas del drama? A continuación, MAG te presenta al elenco de esta producción.</p>

<p>
    En el programa creado por Araceli Guajardo, la trama gira en torno a una poderosa familia de empresarios mexicanos contrata los servicios de una mujer para que sea madre sustituta. A cambio, sacarán a su padre de prisión.

Después del parto, la mujer se despierta en un hospital donde le entregan a un bebé que nació con una discapacidad física. Con el paso de los años, la vida la pondrá una vez más frente a aquel suceso, revelando la verdad que se esconde detrás de todo.


Antes de continuar, mira aquí el tráiler de “Madre de alquiler”.
</p>

<div class="videodeyoutube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/C6uQJqBAQfg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>


<p>¿DE QUÉ TRATA “MADRE DE ALQUILER”?
    De acuerdo con la sinopsis oficial de Netflix, “Madre de alquiler” narra la historia de “una mujer de origen modesto que para salvar a su padre de la cárcel se ve obligada a actuar como madre subrogada cuando una familia poderosa y acaudalada le ofrece un trato.
    
    Después de dar a luz, despierta en un hospital donde le dan a luz a un bebé que nació con una discapacidad física. Años más tarde se enterará de que la familia esconde un gran secreto y que todo lo que vivió durante el embarazo no fue cierto”.</p>

    <p>FICHA TÉCNICA DE “MADRE DE ALQUILER”
        Título original: “Madre de alquiler”
        Otros títulos: “The Surrogacy”
        País de origen: México
        Género: Drama
        Creadora: Araceli Guajardo
        Guion: Araceli Guajardo
        Compañías: Argos Producción
        Distribuidora: Netflix
        Temporadas: 1
        Episodios: 24</p>


    <!-- FOOTER -->
    <%- include("../../partials/footer.ejs") %>
  </body>

  </html>

