<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

    <h1 class="h1">
        “the-mandalorian”
    </h1>


    <p>Tras la caída del Imperio, un mandaloriano solitario atraviesa el caos de la galaxia con un huérfano bajo su cuidado.

        Algunas secuencias o patrones de luces intermitentes pueden afectar a espectadores fotosensibles.</p>



    
<div class="videodeyoutube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/X9xJaQK5BjQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>


    
     <!-- FOOTER -->
     <%- include("../../partials/footer.ejs") %>
    </body>
  
    </html>