<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

    
    <h1 class="h1">
        “star-wars-the-bad-batch”
    </h1>


    <p>Pasaron meses desde lo ocurrido en Kamino y el lote malo continúa navegando en su viaje por el Imperio luego de la caída de la República. Se toparán con amigos y con enemigos, tanto nuevos como conocidos al aceptar una variedad de emocionantes misiones como mercenarios que los llevarán a lugares nuevos, inesperados y peligrosos.

        Algunas secuencias o patrones de luces intermitentes pueden afectar a espectadores fotosensibles.</p>



    
<div class="videodeyoutube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YB9DIxdB198" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    
      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>
    </body>
  
    </html>