<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>
    <h1 class="h1">
        “Educando a nina”
    </h1>

    <p>Educando a Nina es la historia de dos hermanas gemelas separadas al nacer que llevan vidas opuestas y no saben la existencia la una de la otra. Mientras Mara (Griselda Siciliani) nació en cuna de oro y vive en un mundo de lujo, Nina (Griselda Siciliani) es bailarina y corista en el mundo del cuarteto, vive de gira haciendo varios shows por noche, y espera el momento en que la vida le dé una oportunidad.

        Cuando Nina ya no sabe qué hacer, está cansada de su novio infiel, tapada de cuentas y sin perspectivas de futuro, dos desconocidos para ella (Juan Leyrado y Diego Ramos) le ofrecen mucho dinero por hacerse pasar por Mara, una heredera sin ambiciones que está presa en España por un lío de drogas después de haberse ido a Ibiza sin autorización, prisión que sería una mancha para la millonaria familia Brunetta. Ser reemplazante de Mara no sólo implica un cambio radical para Nina en cuanto a estética, estilo de vida y forma de hablar, sino también el sostener falsamente una relación con Antonio Di Caro (Rafael Ferro), su prometido, famoso por publicar un libro que él no escribió. Cuando su hermano Renzo (Esteban Lamothe) tiene un accidente y queda en coma, Antonio encuentra el manuscrito, lo edita y se convierte en best seller. Dos años después Renzo despierta. y eso supondrá un nuevo problema en su relación con Mara, suplantada por Nina.
    </p>

    <div class="videodeyoutube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YglkmvKt3R8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

   <!-- FOOTER -->
   <%- include("../../partials/footer.ejs") %>
  </body>

  </html>