<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>
    <h1 class="h1">
        “Perfil Falso”
    </h1>

    <p>Perfil falso, la nueva serie que se sumó al catálogo de Netflix, no para de sumar visualizaciones y eso la mantiene cómoda en varios países en el primer puesto. Se trata de una producción de diez episodios protagonizada por Carolina Miranda y Rodolfo Salas en los roles centrales de Camila y Fernando. “Camila abre un perfil sexy en una aplicación de citas y encuentra al hombre de sus sueños: el guapísimo hombre llamado Fernando. Pronto descubre que ni es soltero y tampoco es Fernando. Camila cae en una trampa y todo se convierte en una pesadilla”, así resume la sinopsis de esta historia creada por Pablo Illanes.</p>

    <div class="videodeyoutube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IvQ166TY9nU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
    </div>

    <p>
        “Dispuesta a todo para descubrir quién es realmente el hombre que conoció, la joven se empeña en identificar al infiel y hacerle pagar una a una, cada mentira que le dijo y cada promesa que le hizo, sin saber que se está adentrando en un intrincado laberinto de apariencias que engañan, sexo prohibido y poderes que matan”, continúa la premisa oficial. Los actores centrales de esta historia no son debutantes, sino por el contrario, vienen trabajando en la industria hace ya algunos años. Conoce otras de las ficciones donde podrás encontrarlos.
    </p>


    <!-- FOOTER -->
    <%- include("../../partials/footer.ejs") %>
  </body>

  </html>

