<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

    <h1 class="h1">
        “sabueso”
    </h1>

    <p>
        la serie coreana de acción que conquista el Top 10 de Netflix

    </p>

    <p>
        Un par de boxeadores amateur descubren el peligroso mundo de los préstamos ilegales. Esa es la premisa de Sabuesos (Bloodhounds), una nueva producción de Corea del Sur que se estrenó en Netflix el 9 de junio. En pocos días, el título ascendió al Top 10 de series en tendencia dentro de la plataforma de streaming. Al igual que en Dulce hogar y Estamos muertos, esta historia llena de adrenalina nació en un webtoon o comic digital. 
        Situado en la pandemia, el proyecto dirigido por Kim Joo Hwan (Midnight Runners) muestra aquello a lo que se exponen las familias sumergidas en la desesperación por las deudas. ¿Cómo se involucraron los protagonistas en la industria de los prestamistas y sus violentos métodos de cobranza?
        
    </p>

    <div class="videodeyoutube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TrcYcQKNRNE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <p>
        “Dispuesta a todo para descubrir quién es realmente el hombre que conoció, la joven se empeña en identificar al infiel y hacerle pagar una a una, cada mentira que le dijo y cada promesa que le hizo, sin saber que se está adentrando en un intrincado laberinto de apariencias que engañan, sexo prohibido y poderes que matan”, continúa la premisa oficial. Los actores centrales de esta historia no son debutantes, sino por el contrario, vienen trabajando en la industria hace ya algunos años. Conoce otras de las ficciones donde podrás encontrarlos.
    </p>

     <!-- FOOTER -->
     <%- include("../../partials/footer.ejs") %>
    </body>
  
    </html>