<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

    
    <h1 class="h1">
        “moon-knight”
    </h1>


    <p>Steven Grant parecía llevar una vida sin sobresaltos hasta que la realidad empezó a desmoronarse a sus pies, rodeado de pesadillas de otra vida: la del mercenario Marc Spector. Además de múltiples personalidades, ahora tiene enemigos brutales que lo persiguen, y un misterio mortal que resolver con los dioses del antiguo Egipto.

        Algunas secuencias o patrones de luces intermitentes pueden afectar a espectadores fotosensibles.</p>



    
<div class="videodeyoutube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HebHYBeqGv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>


    
        
      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>
    </body>
  
    </html>
    