<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>


    <h1 class="h1">
        “the good doctor”
    </h1>


<p>The Good Doctor es una serie de televisión estadounidense de drama médico, desarrollada por David Shore y Daniel Dae Kim, basado en la serie surcoreana de 2013 del mismo nombre. El show es producido por Sony Pictures Television y ABC Studios, con Shore sirviendo como el showrunner. Es protagonizada por Freddie Highmore como Shaun Murphy; un joven cirujano con autismo y síndrome del sabio en el ficticio hospital St. Bonaventure de San José, California. También forman parte del elenco principal Hill Harper, Christina Chang, Richard Schiff, Will Yun Lee, Fiona Gubelmann, Paige Spara, Noah Galvin y Bria Samoné Henderson.

    The Good Doctor se estrenó el 25 de septiembre de 2017. La serie se convirtió en «el fenómeno televisivo del año en EE.UU», de la mano de las características del personaje protagónico y la interpretación de Freddie Highmore. En marzo de 2022, la serie fue renovada por una sexta temporada, que se estrenó el 3 de octubre de 2022. En abril de 2023, la serie fue renovada para una séptima temporada.
    
    Argumento
    Shaun Murphy es un joven cirujano con autismo y síndrome del sabio de una pequeña ciudad, donde tuvo un pasado problemático. Se traslada para unirse al prestigioso departamento de cirugía en San José St. Bonaventure Hospital.</p>


    <div class="videodeyoutube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lnY9FWUTY84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

       <!-- FOOTER -->
     <%- include("../../partials/footer.ejs") %>
    </body>
  
    </html>
