<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>
  <div class="padre-imagen">

    <h1 class="h1">
        "Descubre las Mejores Series en amazon prime: Una Amplia Variedad de Historias Cautivadoras te Esperan"
    </h1>

    <p>"En nuestra selección, nos complace recomendar las mejores series disponibles en amazon prime. La plataforma de streaming ha ganado reconocimiento por su amplio catálogo de programas de alta calidad que abarcan una variedad de géneros y temas. Desde emocionantes dramas hasta comedias ingeniosas y apasionantes aventuras, Netflix ofrece una experiencia diversa para todos los gustos. Explora el fascinante mundo de las series en Netflix y descubre historias cautivadoras que te mantendrán entretenido/a durante horas. En breve, te presentaremos una lista de nuestras recomendaciones favoritas. ¡Prepárate para disfrutar de horas de entretenimiento de primer nivel!"
    </p>


    <p class="top"> top 1</p>


    <p>Beatriz Pinzón Solano es una brillante economista con maestría en finanzas; solo tiene un defecto: es fea. Todo cambia cuando comienza a trabajar en Ecomoda, una de las empresas más grandes del país, donde conoce y se enamora de Armando Mendoza. Esta vez la vida le dará una segunda oportunidad para demostrar que puede convertirse en la mujer más deseada y amada del mundo.</p>

    <p>click en la imagen para leer mas</p>
    <a href="topa1">
        <img class="img44" src="https://emilianogieco.alwaysdata.net/topa1.jpg">
      </a>


      <p class="top"> top 2</p>

      <p>
        Mara y Nina son dos gemelas separadas al nacer. A sus treinta años, su padre biológico le ofrece a Nina comenzar un entrenamiento para convertirse en Mara a cambio de dinero. Acompañá la alocada historia de estas dos hermanas.
      </p>

      <p>click en la imagen para leer mas</p>
      <a href="topa2">
          <img class="img44" src="https://emilianogieco.alwaysdata.net/topa2.jpg">
        </a>

        <p class="top"> top 3</p>



            <p>Se centra en un joven cirujano con síndrome de Savant quien es reclutado en la unidad de cirugía pediátrica de un prestigioso hospital. La pregunta surgirá: ¿Realmente puede salvar vidas una persona que no tiene la capacidad de relacionarse con otras personas?</p>
        
      <p>click en la imagen para leer mas</p>
      <a href="topa3">
          <img class="img44" src="https://emilianogieco.alwaysdata.net/topa3.png">
        </a>

      </div>
    </body>

     <!-- FOOTER -->
     <%- include("../../partials/footer.ejs") %>
    </body>
  
    </html>