<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>
  <div class="padre-imagen">

    <h1 class="h1">
        "Descubre las Mejores Series en Disney+: Una Amplia Variedad de Historias Cautivadoras te Esperan"
    </h1>



    <p>"En nuestra selección, nos complace recomendar las mejores series disponibles en Disney+. La plataforma de streaming ha ganado reconocimiento por su amplio catálogo de programas de alta calidad que abarcan una variedad de géneros y temas. Desde emocionantes dramas hasta comedias ingeniosas y apasionantes aventuras, Netflix ofrece una experiencia diversa para todos los gustos. Explora el fascinante mundo de las series en Netflix y descubre historias cautivadoras que te mantendrán entretenido/a durante horas. En breve, te presentaremos una lista de nuestras recomendaciones favoritas. ¡Prepárate para disfrutar de horas de entretenimiento de primer nivel!"
    </p>

    <p class="top"> top 1</p>
    
    <p>Tras la caída del Imperio, un mandaloriano solitario atraviesa el caos de la galaxia con un huérfano bajo su cuidado.</p>  
  
<p>click en la imagen para leer mas</p>
<a href="Top1D">
    <img class="img44" src="https://emilianogieco.alwaysdata.net/badging.jpg">
  </a>

  <p class="top"> top 2</p>
  
      <p>
        Pasaron meses desde lo ocurrido en Kamino y el lote malo continúa navegando en su viaje por el Imperio luego de la caída de la República. Se toparán con amigos y con enemigos, tanto nuevos como conocidos al aceptar una variedad de emocionantes misiones como mercenarios que los llevarán a lugares nuevos, inesperados y peligrosos.      </p>

      <p>click en la imagen para leer mas</p>
      <a href="Top2D">
          <img class="img44" src="https://emilianogieco.alwaysdata.net/badging (1).jpg">
        </a>



        <p class="top"> top 3</p>
  
      <p>
        Steven Grant es un simple vendedor de recuerdos en el museo, o eso parece... Entre pesadillas que parecen realidad y momentos confusos de vigilia, un brutal mercenario toma el control de su vida.</p>
      <p>click en la imagen para leer mas</p>
      <a href="Top3D">
          <img class="img44" src="https://emilianogieco.alwaysdata.net/badging (2).jpg">
        </a>






 <!-- FOOTER -->
 <%- include("../../partials/footer.ejs") %>
</body>

</html>