<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>
    <div class="padre-imagen">
    <h1 class="h1">
        "Descubre las Mejores Series en Netflix: Una Amplia Variedad de Historias Cautivadoras te Esperan"
    </h1>

    <p>"En nuestra selección, nos complace recomendar las mejores series disponibles en Netflix. La plataforma de streaming ha ganado reconocimiento por su amplio catálogo de programas de alta calidad que abarcan una variedad de géneros y temas. Desde emocionantes dramas hasta comedias ingeniosas y apasionantes aventuras, Netflix ofrece una experiencia diversa para todos los gustos. Explora el fascinante mundo de las series en Netflix y descubre historias cautivadoras que te mantendrán entretenido/a durante horas. En breve, te presentaremos una lista de nuestras recomendaciones favoritas. ¡Prepárate para disfrutar de horas de entretenimiento de primer nivel!"
    </p>

     <p class="top"> top 1</p>

    <p>
        Cuando una mujer se ve obligada a actuar como madre subrogada para salvar a su padre, se involucra con una poderosa familia dispuesta a proteger su propia reputación a toda costa.
    </p>  
      
    <p>click en la imagen para leer mas</p>
    <a href="Top1">
        <img class="img44" src="https://emilianogieco.alwaysdata.net/top1.jpg">
      </a>



        <p class="top"> top 2</p>

    <p>
        Camila conoce a su príncipe azul a través de una aplicación de citas. Tras un idílico romance, planea darle una sorpresa..., pero termina atrapada en un falso paraíso.
    </p>  
    
    <p>click en la imagen para leer mas</p>
    <a href="Top2">
        <img class="img44" src="https://emilianogieco.alwaysdata.net/top2.jpg">
      </a>


      <p class="top"> top 3</p>

      <p>
        Dos jóvenes boxeadores unen fuerzas con un benévolo prestamista para destruir a un despiadado usurero que se aprovecha de los más vulnerables.      </p>  
       
        <p>click en la imagen para leer mas</p> 
      <a href="Top3">
          <img class="img44" src="https://emilianogieco.alwaysdata.net/top3.jpg">
        </a>

    </div>
</body>


 <!-- FOOTER -->
 <%- include("../../partials/footer.ejs") %>
</body>

</html>