<!--HEAD-->
<%- include(".././partials/head") %>

  <body>
    <!--HEADER-->
    <%- include(".././partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">

          <h1 class="h1">
            "Descubre los Mejores Estrenos."
          </h1>

          <p>"Nos complace recomendar los mejores estrenos. Abarcando una variedad de géneros y temas."
          </p>

          <p class="top"> Aspromonte</p>

          <p>
            En 1951, Africo es un pueblo el valle de Aspromonte sin carretera alguna; cuando una mujer muere dando a luz
            por falta de acceso para el doctor, el pueblo se vuelca en construir un acceso, aunque...
          </p>

          <p>click en la imagen para leer mas</p>
          <a href="aspromonte">
            <img class="img44" src="http://mmpc1910.alwaysdata.net/aspromonte1.jpg">
          </a>



          <p class="top"> Elementos</p>

          <p>
            Sigue a Ember y Wade, en una ciudad donde los residentes del fuego, el agua, la tierra y el aire viven
            juntos.
          </p>

          <p>click en la imagen para leer mas</p>
          <a href="elementos">
            <img class="img44" src="https://mmpc1910.alwaysdata.net/elementos1.jpg">
          </a>


          <p class="top"> Misantropo</p>

          <p>
            Un feroz ataque producido por un único hombre deja un saldo de 29 muertos y ni una sola pista. Eleanor Falco
            (Shailene Woodley), una retraída pero talentosa mujer policía de bajo rango, es reclutada por el agente
            especial del FBI Geoffrey Lammark (Ben Mendelsohn) para integrar el equipo a cargo de la identificación y
            captura del homicida.
          </p>
          <p>click en la imagen para leer mas</p>
          <a href="misantropo">
            <img class="img44" src="http://mmpc1910.alwaysdata.net/misantro.webp">
          </a>

          <p class="top"> Blondi </p>

          <p>
            Es una película que, en tono de comedia, abre imperceptiblemente temas enormes y trascendentes.
          </p>
          <p>click en la imagen para leer mas</p>
          <a href="blondi">
            <img class="img44" src="http://emilianogieco.alwaysdata.net/Blondi3.jpg">
          </a>

          <p class="top"> “Boogeyman” Tu miedo es real </p>

          <p>
            Sadie Harper, una estudiante del colegio secundario y su hermana pequeña, Sawyer, están conmocionadas por la
            reciente muerte de su madre y no reciben mucho apoyo de su padre, Will, un terapeuta que está lidiando con
            su
            propio dolor.
          </p>
          <p>click en la imagen para leer mas</p>
          <a href="boogeyman">
            <img class="img44" src="http://emilianogieco.alwaysdata.net/boogeyman1.jpg">
          </a>

          <p class="top"> Maremoto </p>

          <p>
            Una plataforma petrolífera se hunde dramáticamente en la costa noruega, y los investigadores intentan
            averiguar qué ha pasado cuando se dan cuenta de que esto es solo el comienzo de algo aún más grave. </p>
          <p>click en la imagen para leer mas</p>
          <a href="maremoto">
            <img class="img44" src="http://emilianogieco.alwaysdata.net/maremoto1.jpg">
          </a>

      </main>

      <!-- FOOTER -->
      <%- include("./../partials/footer.ejs") %>
  </body>

  </html>

