<!--HEAD-->
<%- include(".././partials/head") %>

<body>
    <!--HEADER-->
    <%- include(".././partials/header") %>
    
    <h1 class="h1">Noticias de película</h1>

    <h2 class="h2">“Barbie”, la película más esperada de 2023</h2>
    <a href="barbie">
        <img class="img44" src="https://emilianogieco.alwaysdata.net/barbie1.jpeg"></a>

    <p>Margot Robbie y Ryan Gosling actúan juntos en el próximo film de la aclamada directora Greta Gerwig</p>


    <h2 class="h2"> “Flash” y los 5 datos imperdibles que debes conocer antes de su estreno</h2>

    <a href="flash">
        <img class="img44" src="https://emilianogieco.alwaysdata.net/flashh1.jpeg"></a>


    <p>La película dirigida por Andy Muschietti y protagonizada por Ezra Miller llegará a los cines el 15 de junio
    </p>

    <h2 class="h2"> “La Sirenita”: qué dice la crítica sobre el nuevo live-action de Disney</h2>
    <a href="sire">
        <img class="img44" src="https://emilianogieco.alwaysdata.net/sire1.jpeg"></a>

    <p>Parte de la crítica internacional se rinde ante la película protagonizada por Halle Bailey y otros sólo destacan
        la actuación de la estrella en el rol de Ariel</p>



    <h2 class="h2"> “Rápidos y furiosos 10” tiene un elenco gigante, muchas sorpresas y toda la acción de siempre </h2>
    <a href="rapi">
        <img class="img44" src="https://emilianogieco.alwaysdata.net/rapi1.jpeg"></a>
    <p> El comienzo del final de la saga es una producción descomunal preparada especialmente para los fans</p>


    <!-- FOOTER -->
    <%- include(".././partials/footer.ejs") %>


</body>

</html>