<!--HEAD-->
<%- include(".././partials/head") %>

<body>
    <!--HEADER-->
    <%- include(".././partials/header") %>
  <div class="padre-imagen">
   <h1> "Descubre las Mejores Películas del 2023"</h1>

   <p class="narrado"> "Bienvenidos a cineTips, el destino perfecto para los amantes del séptimo arte. Prepárate para sumergirte en el fascinante universo del cine del 2023. ¿Estás listo para descubrir las joyas cinematográficas que este año tiene reservadas para ti?

    En nuestro sitio, te ofrecemos una selección exclusiva de las películas más destacadas del 2023. Desde emocionantes producciones de acción y aventuras, hasta cautivadoras historias de drama y romance, aquí encontrarás recomendaciones que te llevarán a vivir experiencias inolvidables en cada fotograma.
    
    Nuestro equipo de expertos cinéfilos ha dedicado incansables horas a explorar la filmografía del 2023, analizando cada película con atención meticulosa para brindarte solo lo mejor. Ya sea que estés buscando emocionantes películas de superhéroes, intrigantes thrillers o conmovedores dramas, aquí encontrarás las recomendaciones que te guiarán hacia la próxima obra maestra del celuloide.
    
    Acompáñanos en este apasionante viaje por el cine del 2023. Adéntrate en las tramas envolventes, déjate llevar por las actuaciones magistrales y sumérgete en los universos cinematográficos más cautivadores. Con nuestra guía, te aseguramos que no te perderás ninguna de las películas imprescindibles que este año tiene para ofrecer.
    
    Explora nuestras recomendaciones y déjate seducir por la magia del cine. ¡Prepárate para una experiencia cinematográfica inigualable en el 2023!"
    
    Espero que te guste. Si necesitas alguna modificación o algo más, no dudes en decírmelo.</p>

    <main>
                
          
<section class="central1" >
  <br>
  <br>
  <br>
   

  <h1 class="titulo2" > mejores pelis 2023</h1>
  <br>
  <br>
  <br>


  <div><a href="avatar2023">
    <img class="img44" src="https://emilianogieco.alwaysdata.net/avatar2023.jpg"></a>
  <h3 class="precio">AVATAR: EL CAMINO DEL AGUA</h3>
  
  </div>
  <br>
  <br>
  <div>  <a href="exorsista">
    <img class="img44" src="https://emilianogieco.alwaysdata.net/ELEXORCISTADELPAPA.jpg"></a>
  <h3 class="precio">EL EXORCISTA DEL PAPA</h3>
  
  </div>
  <br>
  <br>
  <div> <a href="mario2023">
    <img class="img44" src="https://emilianogieco.alwaysdata.net/SUPERMARIOBROS.LAPELÍCULA.jpg"></a>
  <h3 class="precio">SUPER MARIOBROS</h3>
  
  </div>

  <br>
  <br>

  <div> <a href="johnwick4">
    <img class="img44" src="https://emilianogieco.alwaysdata.net/johnwick44.jpg"> </a>
      <h3 class="precio">john wick capitulo 4 </h3>
     
   </div>

   <div> <a href="LAHEREDERADELAMAFIA">
    <img class="img44" src="https://emilianogieco.alwaysdata.net/LAHEREDERADELAMAFIA.jpg"> </a>
      <h3 class="precio">LA HEREDERA DE LA MAFIA </h3>
     
   </div>

  </div>


  </section>
          
    </main>
    
<!-- FOOTER -->
<%- include(".././partials/footer.ejs") %>
</body>
  </html>
