<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">

          <h1>
            “Barbie”, la película más esperada de 2023
          </h1>
          <p>Margot Robbie y Ryan Gosling actúan juntos en el próximo film de la aclamada directora Greta Gerwig
          </p>
          <div class="videodeyoutube">
            <iframe width="500" height="250" src="https://www.youtube.com/embed/gH2mRECr6y4"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <div class="linea"></div>

          <p>Barbie es uno de los estrenos más esperados del año y con justa razón, pues marca el regreso de Greta
            Gerwig
            (Lady Bird) como directora de cine y sitúa a Margot Robbie (Yo, Tonya y El escuadrón suicida) un rol muy
            particular. Este jueves, Warner Bros. compartió un nuevo tráiler de la anticipada película y deja a ver a la
            protagonista junto a su adorado Ken (Ryan Gosling) en situaciones increíbles. “Vivir en la tierra de Barbie
            es
            ser un ser perfecto en un lugar perfecto. A menos que tengas una crisis existencial total. O seas un Ken”,
            así
            se define en su premisa oficial este largometraje inspirado en la famosa línea de juguetes de la compañía
            Mattel. Gerwig se encargó de la dirección y coescribió el guion junto a Noah Baumbach (Historia de un
            matrimonio), su esposo y colaborador más cercano.</p>

          <img class="img44" src="https://emilianogieco.alwaysdata.net/barbie1.jpeg">

          <p>Además de Robbie y Gosling en el elenco, actúan otras grandes estrellas como America Ferrera, Kate
            McKinnon,
            Michael Cera, Ariana Greenblatt, Issa Rae, Rhea Perlman, Will Ferrell, Ana Cruz Kayne, Emma Mackey, Hari
            Nef,
            Alexandra Shipp, Kingsley Ben-Adir, Simu Liu, Ncuti Gatwa, Scott Evans, Jamie Demetriou, Connor Swindells,
            Sharon Rooney, Nicola Coughlan, Ritu Arya, Dua Lipa y la ganadora del Oscar Helen Mirren. La actriz
            australiana
            Margot Robbie, una de las figuras más importantes de Hollywood en la actualidad, es también productora del
            film
            junto a David Heyman, David Heyman y Robbie Brenner. La producción ejecutiva está conformada por Michael
            Sharp,
            Josey McNamara, Ynon Kreiz, Courtenay Valenti, Toby Emmerich y Cate Adams.</p>

          <img class="img44" src="https://emilianogieco.alwaysdata.net/barbie2.jpeg">

          <p>Previo al lanzamiento del reciente adelanto de Barbie, se dio a conocer los artistas que formarán parte de
            la
            banda sonora. Esta incluye a Ava Max, Charli XCX, Dominic Fike, Dua Lipa, Fifty Fifty, Gayle, Haim, Ice
            Spice,
            Kali, Karol G, Khalid, Lizzo, Nicki Minaj, Pink Pantheress, Ryan Gosling, Tame Impala y The Kid Laroi. Mark
            Ronson es productor musical ejecutivo del proyecto.

            El cartel de músicos viene acompañado de un mensaje que hace referencia a que estos no serán los únicos:
            “Más
            Barbies y Kens serán anunciados”. Sin duda, el nombre que más llamó la atención dentro de este listado es el
            de
            Gosling, a quien vimos desempeñarse como cantante en la galardonada La La Land: ciudad de sueños. Al
            parecer,
            volverá a entonar canciones para esta ocasión especial. </p>

          <img class="img44" src="https://emilianogieco.alwaysdata.net/barbie3.jpeg">

          <p>La película Barbie tendrá su estreno en países de Latinoamérica el próximo 20 de julio.</p>


        </div>
      </main>
      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>

  </body>

  </html>