<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">

          <h1 class="h1">
            “Flash” y los 5 datos imperdibles que debes conocer antes de su estreno
          </h1>

          <p>La película dirigida por Andy Muschietti y protagonizada por Ezra Miller llegará a los cines el 15 de junio

          </p>


          <div class="videodeyoutube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8dFTgXriXWg"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>

            <p>Aunque Flash es la película que dará inicio a la nueva etapa del universo de DC, se podría decir que el
              film es el más importante para la compañía desde el estreno de El hombre de acero . El próximo
              largometraje dirigido por Andy Muschietti (It) será una especie de culminación de todos los títulos del
              Universo extendido DC (DCEU, por sus siglas en inglés) durante la última década. Se trata de una aventura
              de saltos en el tiempo causada por Barry Allen (Ezra Miller), quien jugará con el pasado para poder salvar
              a su madre de la muerte. Sin embargo, cuando viaje a otra época, cambiará la historia misma, incluidos
              algunos de los momentos más cruciales de su universo. Esto significa que los fans y la audiencia en
              general deberán recordar algunos de los momentos más importantes de la saga cinematográfica. Conoce cinco
              datos infaltables antes de su estreno:</p>

            <img class="img44" src="https://emilianogieco.alwaysdata.net/flashh1.jpeg">

            <p>Cómo se conocen Bruce Wayne y Barry Allen</p>

            <p>
              En la película La liga de la justicia, Bruce Wayne y Diana Prince reúnen un equipo de metahumanos para
              ayudar a luchar contra el invasor Steppenwolf y sus legiones de Parademons. El primer y más entusiasta
              recluta de Bruce es Barry Allen, un velocista que, según él mismo admite, “necesita amigos”. A pesar de un
              comienzo difícil en su relación, Barry se aferra al superhéroe multimillonario. Para cuando aparece en
              Flash, insiste en que Bruce es su “mejor amigo”.
            </p>
            <img class="img44" src="https://emilianogieco.alwaysdata.net/flash2.jpeg"> </a>

            <p>Superman y su origen

              Para este dato hay que ir a ver El hombre de acero (Man of Steel). La mayoría de la gente probablemente
              conoce la historia del origen de Superman por conocimiento general de la cultura pop: una cápsula que
              transportaba al bebé Kal-El aterriza en la Tierra después de la destrucción de Krypton, el matrimonio Kent
              lo adopta y crece con superpoderes que debe usar para el bien común. Pero la película de Zack Snyder hizo
              algunos ajustes. Clark Kent está un poco desilusionado con el mundo después de que su padre muere y apenas
              ha comenzado su carrera como Superman cuando la mayor amenaza de la Tierra llega en forma de Zod. A pesar
              de su malestar, demuestra que es exactamente el héroe que la Tierra necesita.</p>

            <img class="img44" src="https://emilianogieco.alwaysdata.net/flash3.jpeg">

            <p>La razón de que Mod aparezca en “El hombre de acero”

              El villano del largometraje con Henry Cavill regresa con ganas de venganza en Flash. No es que haya
              revivido, sino que, reaparece por culpa de Barry Allen y el multiverso. En la línea de tiempo original de
              la película, Zod llega a la Tierra para convertirla en un Nuevo Krypton con varios dispositivos rescatados
              de los puestos avanzados de dicho planeta desaparecido. Pero la única forma de activar estos dispositivos
              es con el ADN de Superman.

              En el nuevo film, Barry se encuentra atrapado en un pasado donde los eventos de El hombre de acero se
              desarrollan sin el superhéroe kriptoniano. El plan de Zod para transformar la Tierra toma una dirección
              diferente, pero potencialmente igual de catastrófica.</p>


            <img class="img44" src="https://emilianogieco.alwaysdata.net/flash4.jpeg">

            <p>El padre de Barry Allen está en prisión

              La liga de la justicia mostró la vida familiar de Barry en una breve escena en la que el joven visita a su
              padre Henry Allen (Billy Crudup) en prisión. No se menciona el delito por el que fue condenado, pero Barry
              insiste en que “la investigación fue una desastre”. Henry alienta a su hijo a usar su mente brillante para
              buscar algo más que esta causa perdida, pero él héroe no dejará de intentar limpiar el nombre de su
              progenitor. Se sabe por Flash que intentará probar su inocencia por el supuesto asesinato de su madre.</p>

            <img class="img44" src="https://emilianogieco.alwaysdata.net/flash5.jpeg">

            <p>Cómo se formó La liga de la justicia

              Al final de la producción crossover ideada por Snyder, el equipo decide finalmente formar una verdadera
              alianza. Diana vuelve a ser el centro de atención del público como la Mujer Maravilla, Victor Stone
              continúa mejorando sus habilidades como Cyborg con su padre en STAR Labs, Arthur vuelve a proteger el
              océano, Superman vuelve a llevar su doble vida como Clark Kent y protector de la Tierra, y Batman
              convierte su baticueva en la base de operaciones de la Liga de la Justicia.

              Lo más importante dentro de todo esto es que Barry logra enorgullecer a su padre al conseguir un trabajo
              en el departamento de policía de Central City. Cuando comienza Flash, Barry está trabajando muy duro para
              equilibrar su trabajo como científico forense junto con sus deberes heroicos.

            </p>

            <img class="img44" src="https://emilianogieco.alwaysdata.net/flash6.jpeg">

            <p>Flash se podrá ver en todos los cines de América Latina a partir del 15 de junio.</p>

          </div>
      </main>
      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>
  </body>

  </html>