<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">

          <h1 class="h1">
            “La Sirenita”: qué dice la crítica sobre el nuevo live-action de Disney
          </h1>

          <p>Parte de la crítica internacional se rinde ante la película protagonizada por Halle Bailey y otros sólo
            destacan la actuación de la estrella en el rol de Ariel</p>


          <div class="videodeyoutube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8LECfkm4fJA"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <p> Por fin se conocieron las críticas oficiales sobre La Sirenita (The Little Mermaid) luego de su proyección
            temprana para la prensa en Estados Unidos. Halle Bailey es la protagonista de esta película que adapta el
            clásico cuento de Hans Christian Andersen y la producción animada musical de 1989. El elenco también cuenta
            con la participación de Melissa McCarthy (Úrsula), Javier Bardem (rey Tritón), Jonah Hauer-King (príncipe
            Eric), Noma Dumezweni (la reina) y Art Malik (Ser Grimsby)


            Rob Marshall (El regreso de Mary Poppins) estuvo detrás de la dirección del proyecto con un guion del dos
            veces nominado al Oscar David Magee (La vida de Pi). Las canciones incluyen música del ganador de varios
            premios de la Academia Alan Menken (La bella y la bestia y Aladino) y letras de Howard Ashman. Asimismo, se
            sumaron nuevas letras de Lin-Manuel Miranda (En el barrio).</p>


          <img class="img44" src="https://emilianogieco.alwaysdata.net/sire1.jpeg">

          <p>Qué dice la crítica de “La Sirenita”</p>
          <p> Según el sitio web Rotten Tomatoes, La Sirenita ha recibido un 70% de calificación por parte de la
            crítica, una puntuación muy alta si se le considera en la línea de producciones live-action de Disney. La
            gran mayoría de opiniones elogian el desempeño de Bailey en el rol protagónico y, al parecer, la ejecución
            total del film dirigido por Marshall no ha encantado del todo.

            Peter Debruge, de Variety: “Halle Bailey es toda la razón por la que cualquier audiencia debería justificar
            que Disney vuelva a visitar este clásico”.
            Helen O’Hara, de Empire Magazine: “Otro remake live-action que es más oscuro y menos convincente que el
            original animado, pero se salva gracias a la encantadora actuación de Bailey, el descaro de McCarthy y la
            propia magia eterna de la historia”.</p>


          <img class="img44" src="https://emilianogieco.alwaysdata.net/sire3.jpeg">

          <p>Maureen Lee Lenker, de Entertainment Weekly: “Con Halle Bailey, la vida bajo el mar es mejor que cualquier
            cosa que Disney haya hecho en casi una década”.

            Kate Erbland, de IndieWire: “Por ahora, La Sirenita existe fuera del mismo mundo del que tanto quiere ser
            parte, uno que ya se interpretó con tanto cariño en su predecesor, sea ‘real’ o no”.

            Ellen E Jones, de The Guardian: “Bailey es tanto el único triunfo absoluto de la película terminada como el
            mejor argumento para toda esta empresa de remake de acción en vivo en un paquete brillante de mermaidcore”.
          </p>

          <img class="img44" src="https://emilianogieco.alwaysdata.net/sire2.jpeg">

          <p>Lovia Gyarkye, de The Hollywood Reporter: “Una adaptación aburrida impulsada por un encantador giro
            principal”.

            La Sirenita, el más esperado live-action de Disney, llegará a los cines de América Latina el 25 de mayo.</p>
        </div>

      </main>
      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>
  </body>

  </html>