<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">
          <h1 class="h1"> “Rápidos y furiosos 10” tiene un elenco gigante, muchas sorpresas y toda la acción de siempre
          </h1>

          <p> El comienzo del final de la saga es una producción descomunal preparada especialmente para los fans</p>

          <div class="videodeyoutube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qa9dxz0rCYY"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <p>Parece mentira que aquella película estrenada en el año 2001 esté llegando ahora a su décima parte. Un
            largo camino que no termina aquí, porque Rápidos y furiosos 10 (Fast X) es sólo la primera parte de la
            entrega final. En el año 2025, llegará la continuación de la película que ya se estrenó y algunos comentan
            que tampoco será el cierre. El éxito acompañó a estas películas desde el comienzo, pero fue recién en la
            quinta parte que, además de dinero, estas películas consiguieron críticas favoritas. Cuando dejaron de tener
            en el centro las carreras clandestinas y se entregaron a la aventura gigante más los elencos
            multitudinarios, la saga mejoró y renovó su crédito. La décima entrega tiene obviamente como protagonista a
            Dominic Toretto (Vin Diesel) que deberá proteger a su equipo y a su familia de una nueva amenaza. Dante
            Reyes (Jason Momoa) es el hijo del mafioso y narcotraficante brasileño Hernán Reyes (Joaquín de Almeida), el
            enemigo de la quinta parte. Desde hace años, Dante planea una venganza que será el centro de la trama y que
            moverá todas las piezas del tablero, generando nuevas batallas, con nuevos amigos y nuevos enemigos. Es un
            buen punto de partida, porque esa fue la película que marcó el mejor momento de esta serie cinematográfica.
            El director de ese entonces, Justin Lin, era el realizador de Rápidos y furiosos 10, pero sus peleas con
            Diesel llevaron a que fuera reemplazado por Louis Letterrier.
          </p>

          <img class="img44" src="https://emilianogieco.alwaysdata.net/rapi1.jpeg">

          <p>
            Desde el comienzo quedan claras varias cosas. El largometraje, con un presupuesto de 340 millones de
            dólares, es una superproducción que no escatimó en gastos. Se ve en pantalla y se agradece. El elenco es
            escandalosamente multitudinario, con las estrellas ya conocidas y algunas más. Dos ejemplos alcanzan: cuatro
            actrices ganadoras del Oscar participan de la película: Helen Mirren (Queenie), Charlize Theron (Cipher),
            Brie Larson (Tess) y Rita Moreno (abuelita). Regresan otros personajes que no anticiparemos y, al uso de la
            saga, cualquier actor gigante de tamaño debe sumarse. En este caso Momoa, pero también Alan Ritchson, el
            actor de la serie Jack Reacher que aquí interpreta a Aimes, un miembro de la agencia que busca capturar a
            Toretto y su gente. Y por supuesto, se nota que todo apunta a hacer felices a los fans. Dos escenas de
            acción a la altura de lo esperado marcan los dos grandes momentos con autos y otros medios de locomoción. En
            el medio hay varias más, pero son dos las más importantes de Fast X. Ya en la película número nueve la
            sensación de agotamiento se sentía y acá, a pesar de todo el show, también. La feliz inverosimilitud de cada
            escena supo sorprender y divertir en su momento, pero acá más que un concepto estético parece un acto de
            pereza por no saber cómo resolver las escenas. En las más espectaculares resulta divertido, pero es en las
            otras que molesta más. El truco consiste en no dejar un respiro para pensar y lo consigue, pero no todo el
            tiempo.

          </p>

          <img class="img44" src="https://emilianogieco.alwaysdata.net/rapi2.jpeg">

          <p>
            Cada personaje tiene su escena y su momento. Además del protagonista Vin Diesel y el villano Jason Momoa,
            está el equipo formado por Michelle Rodriguez, Theron, Tyrese Gibson, Chris Ludacris Bridges, Nathalie
            Emmanuel y Sung Kang. Y no faltan Jordana Brewster, Jason Statham, Helen Mirren, John Cena, Scott Eastwood,
            a los que se suman Brie Larson, Daniela Melchior, Alan Ritchson y Rita Moreno. Nadie se sorprenderá si
            decimos que no son los únicos y que hay más nombres grandes en la pantalla. Así de enorme es todo. El
            público respondió durante más de veinte años y hoy queda claro que muchos de los fans posiblemente no hayan
            visto ninguna película antes de la cinco, seguramente por eso es una buena idea conectarse con ese exitoso y
            tan logrado título. Nadie que no sea seguidor de la saga podrá entender lo que pasa y las muchas escenas
            sensibleras detienen y distraen de la acción. La película es generosa con sus seguidores pero no lo es tanto
            con el cine.
          </p>

          <img class="img44" src="https://emilianogieco.alwaysdata.net/rapi3.jpeg">

          <p>
            Rápidos y furiosos 10 llegó a los cines de América Latina el pasado 18 de mayo.

          </p>
        </div>
      </main>
      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>
  </body>

  </html>