<!--HEAD-->
<%- include("../../partials/head") %>

  <body>
    <!--HEADER-->
    <%- include("../../partials/header") %>

      <!--MAIN-->
      <main>
        <div class="padre-imagen">

          <h1 class="h1">
            ‘Transformers 7′ es el mayor estreno en Perú: ¿cuánto recaudó en taquilla en su primera semana en los cines?
          </h1>

          <p>La película estadounidense que tiene como escenario las ciudades peruanas Cusco y Tarapoto lidera el
            ranking de
            las cintas más vistas. Descubre cuanto dinero recaudó.</p>

          <div class="videodeyoutube">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/v0d0id78XdE"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <p>‘Transformers 7: El despertar de las bestias’ es la aclamada cinta que forma parte de la saga de los
            robots,
            consiguió números bastantes atractivos a pocos de cumplir su prima semana en las salas de cine no solamente
            del
            Perú sino en el mundo.</p>



          <img class="img44" src="https://emilianogieco.alwaysdata.net/transfo1.jpeg">

          <p>Y es que la película protagonizada por Anthony Ramos y Dominique Fishback ha sido un rotundo éxito en los
            cines
            peruanos, ya que ha ocupado el primer lugar en la taquilla del Perú.


            La cinta del director Steven Caple Jr. que se estrenó a nivel mundial el pasado 8 de junio, ha vencido a
            muchos
            otros producciones importantes como ‘Spider Man: a través del Spider-verso’ y ‘La Sirenita’ en nuestro país.

            ¿Cuántos espectadores peruanos han ido a ver la película?
            Debido a que ‘Transformers 7, El despertar de las bestias’ grabó por más de una semana en el Perú, tomando
            como
            escenario a Machu Picchu y la selva de Tarapoto, la expectativa es bien grande en nuestro país.</p>

          <img class="img44" src="https://emilianogieco.alwaysdata.net/transfo2.jpeg">

          <p>Los peruanos no se quieren perder ver los escenarios más hermosos de nuestro país en pantalla grande. En lo
            que
            va de su estreno, Perú registra más de un millones de espectadores a pocos días de su estreno. Además, es el
            cuarto país con el mejor estreno a nivel mundial, solo por debajo de China, Estados Unidos y México.

            “El despertar de las bestias que en apenas cinco días ya superó la barrera del MILLÓN de espectadores
            (1.029.000 a
            boca de urna). Perú es el 4to país con mejor recaudación de la película detrás de EEUU, China y México”,
            escribió
            en Twitter, Maykoll Calderón, experto en cine. ¿Cuánto dinero ha recaudado en el mundo?
            En Estados Unidos, la séptima entrega fue la más taquillera el fin de semana y recaudó 60.5 millones de
            dólares,
            superando así a ‘Spider Man: a través del Spider-verso’ con 55.4 millones.En China, por su parte, la séptima
            entrega de la saga pudo estrenarse con más de 40 millones de dólares, lo que lo convierte en el segundo
            mejor
            debut para una producción de Hollywood en lo que va del año. Ya que el primer lugar se lo lleva ‘Rápidos y
            furiosos X’, que amasó unos 51,1 millones.</p>

          <img class="img44" src="https://emilianogieco.alwaysdata.net/transfo3.jpeg">

          <p>Actor de ‘Transformers 7′ confesó quedar encantado con platilla de cuy peruano
            Los actores Dominic Fischback y Anthony Ramos, quienes son protagonistas de ‘Transformers 7′ comentaron que
            disfrutaron su permanecía en nuestro país, pero aparte de recibir el cariño de la gente, recuerdan con gran
            alegría que tuvieron la oportunidad de probar potajes típicos y pocos comunes para ellos.

            En una entrevista para el programa de ‘Cinescape’, el conductor Bruno Pinasco viajó hasta México para
            entrevistar
            a las estrellas de Hollywood y aprovechó para consultarles si tuvieron la ocasión de probar algunos
            platillos
            peruanos.

            Anthony Ramos en un inicio comentó que una de las cosas que jamás olvidará fue que comió hormigas en la
            ciudad de
            Tarapoto, lugar donde también grabaron algunas escenas para la cinta taquillera de Steven Caple Jr.

            “Ir a Tarapoto y comer hormigas por primera vez... el calor era un locura e ir en la tolva de un camión,
            sentado
            atrás, en la mitad de la noche, para pasar el rato fue lo mejor”, relató el actor cuando le consultaron que
            fue lo
            que le agrado de su paso por el oriente peruano.

            Anthony Ramos, quien interpreta a ‘Noah Díaz’ en la película de ciencia ficción, comentó que unos de los
            platillos
            que más le encantó y los considera como uno de sus favoritos fue el cuy.

            “Delicioso. Tres veces (comí cuy). La gente me decía que estoy enfermo y loco por comer eso, pero fue
            asombroso”,
            confesó.

            Asimismo, ambos artistas internacionales comentaron que probaron el coctel de bandera nacional, pisco sour
            porque
            en los grabaciones les servían para que todo elenco y producción estadounidense pudieran degustarla.</p>

        </div>

      </main>
      <!-- FOOTER -->
      <%- include("../../partials/footer.ejs") %>
  </body>

  </html>