<!--HEADER-->
<header>
    <nav class="navbar navbar-dark bg-black">
        <div class="container-fluid">
            <a href="./"> <img class="logoPrincipal" src="https://abisulkes.alwaysdata.net/cineTipsBlanco.png" class="logo"></a>

            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="estrenos">Últimos estrenos</a>
                            </li>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="noticias">Noticias</a>
                                    </li>
                                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page"
                                                    href="peliculas2023">Peliculas 2023</a>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    Recomendaciones de series
                                                </a>
                                                <ul class="dropdown-menu bgColor">
                                                    <li><a class="dropdown-item" href="recomendacionesSerieNetflix">TOP
                                                            NETFLIX</a></li>
                                                    <li><a class="dropdown-item" href="recomendacionesSerieAmazon">TOP
                                                            AMAZON PRIME</a></li>
                                                    <li><a class="dropdown-item" href="recomendacionesSerisDisney">TOP
                                                            Disney+ </a></li>
                                                    <li><a class="dropdown-item" href="star+">TOP START+ (en
                                                            mantenimiento)</a></li>
                                                    <li><a class="dropdown-item" href="paramount+">TOP Paramount+ (en
                                                            mantenimiento)</a></li>
                                                    <li><a class="dropdown-item" href="HBOMAX+">TOP HBO MAX+ (en
                                                            mantenimiento)</a></li>
                                                </ul>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    Recomendaciones de peliculas
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li class="aviso"> sector en mantenimiento disponible apartir del
                                                        25/06/2023</li>
                                                    <li><a class="dropdown-item" href="#">TOP NETFLIX (en
                                                            mantenimiento)</a></li>
                                                    <li><a class="dropdown-item" href="#">TOP AMAZON PRIME (en
                                                            mantenimiento) </a></li>
                                                    <li><a class="dropdown-item" href="#">TOP Disney+ (en mantenimiento)
                                                        </a></li>
                                                    <li><a class="dropdown-item" href="#">TOP START+ (en mantenimiento)
                                                        </a></li>
                                                    <li><a class="dropdown-item" href="#">TOP Paramount+ (en
                                                            mantenimiento) </a></li>
                                                    <li><a class="dropdown-item" href="#">TOP HBO MAX+ (en
                                                            mantenimiento) </a></li>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                            </div>
            </nav>


            <form class="d-flex color" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            
            <!--LOGUEO Y REGISTRO-->

            <div class="btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-circle-user"></i>
                </button>
                <ul class="dropdown-menu bg">
                    <li><a href="login" class="color"> Iniciar sesion </a></li>
                    <li><a href="register" class="color"> Registrate </a></li>
                </ul>
            </div>

            

        </div>

    </nav>

</header>