<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>
    <div class="padre-imagen">

<h1>AVATAR: EL CAMINO DEL AGUA</h1>

<img class="img44" src="https://emilianogieco.alwaysdata.net/avatar2023.jpg">


<p>
    Más de una década después de los acontecimientos de ‘Avatar’, los Na’vi Jake Sully, Neytiri y sus hijos viven en paz en los bosques de Pandora hasta que regresan los hombres del cielo. Entonces comienzan los problemas que persiguen sin descanso a la familia Sully, que decide hacer un gran sacrificio para mantener a su pueblo a salvo y seguir ellos con vida.
</p> 

<div class="videodeyoutube">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/jYRtFFa4hT8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

    <section>  

        FICHA TÉCNICA:
        <ul>
        <li> TÍTULO: Avatar: el camino del agua</li>
        <li> TÍTULO ORIGINAL: Avatar: The Way of Wate / Avatar 2</li>
        <li> AÑO: 2022</li>
        <li> DURACIÓN: 3 h 12 min 38 s</li>
        <li> PAÍS: Estados Unidos</li>
        <li> DIRECCIÓN: James Cameron</li>
        <li> GUION: James Cameron, Rick Jaffa, Amanda Silver. Historia: James Cameron</li>
        <li> MÚSICA: Simon Franglen</li>
        <li> FOTOGRAFÍA: Russell Carpenter</li>
        <li> REPARTO: Sam Worthington, Zoe Saldana, Sigourney Weaver, Kate Winslet, Stephen Lang, Cliff Curtis, Joel David Moore, Giovanni Ribisi, Edie Falco, CCH Pounder</li>
        <li> COMPAÑÍAS: 20th Century Studios, Lightstorm Entertainment, TSG Entertainment. Productor: James Cameron. Distribuidora: Walt Disney Pictures</li>
        <li> GÉNERO: Ciencia ficción. Aventuras. Fantástico. Acción | Familia. Extraterrestres. Secuela. 3-D</li>          
    </ul>
</div>
</body>

  <!-- FOOTER -->
  <%- include("../../partials/footer.ejs") %>
</body>

</html>