<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>
    <div class="padre-imagen">
<h1>EL EXORCISTA DEL PAPA (2023)</h1>

<img class="img44" src="https://emilianogieco.alwaysdata.net/ELEXORCISTADELPAPA.jpg">


<p>Película sobre Gabriele Amorth, un sacerdote que ejerció como exorcista principal del Vaticano, realizando más de cien mil exorcismos a lo largo de su vida. Amorth escribió dos libros de memorias donde detalló sus experiencias luchando contra Satanás.</p>
 
<div class="videodeyoutube">
<iframe width="560" height="315" src="https://www.youtube.com/embed/SoIOGkxB-Rk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>



    <section>

     FICHA TÉCNICA:

     <ul>
            <li> .TÍTULO ORIGINAL: The Pope’s Exorcist</li>
            <li> .AÑO: 2023</li>  
            <li> .TÍTULO: El exorcista del papa</li>  
            <li> .DURACIÓN: 01:43:31 s</li>  
            <li> .PAÍS: Estados Unidos</li>  
            <li> .DIRECCIÓN: Julius Avery</li>  
            <li> .GUION: Evan Spiliotopoulos, Michael Petroni. Biografía sobre: Gabriele Amorth. Historia: R. Dean McCreary, Chester Hastings</li>  
            <li> .MÚSICA: Jed Kurzel</li>  
            <li> .FOTOGRAFÍA: Khalid Mohtaseb
            <li> .REPARTO: Russell Crowe, Alex Essoe, Daniel Zovatto, Peter DeSouza-Feighoney, Franco Nero, Laurel Marsden, Cornell John, Bianca Bardoe, Ryan O’Grady, Santi Bayón</li>  
            <li> .COMPAÑÍAS: Screen Gems, 2.0 Entertainment, Jesus & Mary, Loyola Productions. Distribuidora: Screen Gems</li>  
        <li> .GÉNERO: Terror | Biográfico. Religión. Posesiones / Exorcismos. Años 80</li>  </p>
</ul>

</div>
</body>

</section>

  <!-- FOOTER -->
  <%- include("../../partials/footer.ejs") %>
</body>

</html>