<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>
    <div class="padre-imagen">
<h1>JOHN WICK 4 (2023) </h1>

<img class="img44" src="https://emilianogieco.alwaysdata.net/johnwick44.jpg">

<p>John Wick, legendario asesino retirado, vuelve de nuevo a la acción impulsado por una incontrolable búsqueda de venganza. Al tener que luchar contra asesinos sedientos de sangre que le persiguen, John tendrá que llevar sus habilidades al límite si quiere salir esta vez con vida.</p>
 
<div class="videodeyoutube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ePbVj3jmixE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <section>  

        FICHA TÉCNICA:
     <ul>   
            <li>TÍTULO: John Wick 4</li>
            <li>TÍTULO ORIGINAL: John Wick: Chapter 4</li>
            <li>AÑO: 2023</li>
            <li>DURACIÓN: 2 h 49 min 18 s</li>
            <li>PAÍS: Estados Unidos</li>
            <li>DIRECCIÓN: Chad Stahelski</li>
            <li>GUION: Michael Finch, Shay Hatten. Personaje: Derek Kolstad</li>
            <li>REPARTO: Keanu Reeves, Laurence Fishburne, Ian McShane, Lance Reddick, Rina Sawayama, Donnie Yen, Shamier Anderson, Bill Skarsgård, Hiroyuki Sanada, Scott Adkins, Clancy Brown…</li>
            <li>MÚSICA: Tyler Bates, Joel J. Richard</li>
            <li>FOTOGRAFÍA: Dan Laustsen</li>
            <li>COMPAÑÍAS: Lionsgate, Thunder Road Pictures, Summit Entertainment, 87Eleven Entertainment. Distribuidora: Lionsgate</li>
            <li>GÉNERO: Acción. Thriller | Crimen. Secuela. Artes marciales</li>

        </ul>

    </div>
</body>

    <!-- FOOTER -->
    <%- include("../../partials/footer.ejs") %>
  </body>

  </html>