<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>
    <div class="padre-imagen">

<h1>LA HEREDERA DE LA MAFIA (2023)</h1>

<img class="img44" src="https://emilianogieco.alwaysdata.net/LAHEREDERADELAMAFIA.jpg">


<p>Una mujer estadounidense de los suburbios que hereda el imperio mafioso de su abuelo, y guiada por el consigliere de confianza de la Firma, desafía las expectativas de todos, incluida la suya propia, como la nueva jefa del negocio familiar.</p>
 
<div class="videodeyoutube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/b-IwXL8HiXY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>


    <section>  

        FICHA TÉCNICA:
        <ul>
        <li> TÍTULO: La Heredera De La Mafia</li>
        <li> TÍTULO ORIGINAL: Mafia Mamma</li>
        <li> AÑO: 2023</li>
        <li> DURACIÓN: 1 h 40 min 46 s</li>
        <li> PAÍS: Estados Unidos</li>
        <li> DIRECCIÓN: Catherine Hardwicke</li>
        <li> GUION: J. Michael Feldman, Debbie Jhoon. Idea: Amanda Sthers</li>
        <li> REPARTO: Toni Collette, Monica Bellucci, Eduardo Scarpetta, Giulio Corso, Alfonso Perugini, Rob Huebel, Yonv Joseph</li>
        <li> COMPAÑÍAS: Cattleya, Edver Films, Ingenious Media, New Sparta Films. Distribuidora: Bleecker Street</li>
        <li> GÉNERO: Comedia | Mafia</li>
    </ul>

    </section>

  </div>
</body>

    <!-- FOOTER -->
    <%- include("../../partials/footer.ejs") %>
  </body>

  </html>