<!--HEAD-->
<%- include("../../partials/head") %>

<body>
    <!--HEADER-->
    <%- include("../../partials/header") %>
    <div class="padre-imagen">

<h1>SUPER MARIO BROS. LA PELÍCULA</h1>

<img class="img44" src="https://emilianogieco.alwaysdata.net/SUPERMARIOBROS.LAPELÍCULA.jpg">


<p>Mientras trabajan en una avería subterránea, los fontaneros de Brooklyn, Mario y su hermano Luigi, viajan por una misteriosa tubería hasta un nuevo mundo mágico. Pero, cuando los hermanos se separan, Mario deberá emprender una épica misión para encontrar a Luigi. Con la ayuda del champiñón local Toad y unas cuantas nociones de combate de la guerrera líder del Reino Champiñón, la princesa Peach, Mario descubre todo el poder que alberga en su interior.

</p> 


<div class="videodeyoutube">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VvCyqVG1HPI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>

    <section>  
        <section>  

            FICHA TÉCNICA:
            <ul>
                <li> TÍTULO: Super Mario Bros. La Película </li>
                <li> TÍTULO ORIGINAL: The Super Mario Bros. Movie </li>
                <li> AÑO: 2023 </li>
                <li> DURACIÓN: 1 h 32 min 24 s </li>
                <li> PAÍS: Estados Unidos </li>
                <li> DIRECCIÓN: Aaron Horvath, Michael Jelenic </li>
                <li> GUION: Matthew Fogel. Personajes: Shigeru Miyamoto. Videojuego: Nintendo, Shigeru Miyamoto </li>
                <li> REPARTO: Chris Pratt, Anya Taylor-Joy, Charlie Day, Jack Black, Keegan-Michael Key, Seth Rogen, Fred Armisen, Kevin Michael Richardson, Sebastian Maniscalco, Charles Martinet… </li>
               <li> MÚSICA: Kōji Kondō, Brian Tyler </li>
                <li> FOTOGRAFÍA: Animación </li>
                <li> COMPAÑÍAS: Coproducción Estados Unidos-Japón; Illumination Entertainment, Nintendo, Universal Pictures. Distribuidora: Universal Pictures </li>
                <li> GÉNERO: Animación. Aventuras. Infantil. Fantástico. Comedia | Cine familiar. Videojuego </li>
            </ul>

          </div>
        </body>
                
    <!-- FOOTER -->
    <%- include("../../partials/footer.ejs") %>
  </body>

  </html>